<!DOCTYPE html>
<main>
    <div class="header">
        <h3 class="nowrap">Abingdon Publications</h3>
    </div>
    <% for (let article of articles) { %>
    <div class="article">
        <p class="breadcrumb">
            <span class="author">
                <%= article.author %>
            </span>
            <%= (article.author && article.publisher) ? ' - ' : '' %>
            <span class="publisher">
                <%= article.publisher %>
            </span>
        </p>
        <a href="/api/public/file/<%= article.file.path %>#page=<%= article.page %>" target="_blank" class="title">
            <%= article.title %>
        </a>
        <p class="description">
            <%= article.description %>
        </p>
    </div>
    <% } %>
    <div class="footer">
        <a target="_blank" href="/api/public/publisher/themartlet">The Martlet</a> -
        <a target="_blank" href="/api/public/publisher/thepolyglot">The Polyglot</a> - With invitations to:
        <span target="_blank" href="/api/public/publisher/griffenomics">Griffenomics</span> -
        <span target="_blank" href="/api/public/publisher/wordsandthat">Words and That</span> -
        <span target="_blank" href="/api/public/publisher/periodicals">Periodicals</span> -
        <span target="_blank" href="/api/public/publisher/timelinemagazine">Timeline Magazine</span>
        <!--
        <a target="_blank" href="/api/public/publisher/axiom">Axiom</a> -
        <a target="_blank" href="/api/public/publisher/thepostmen">The Postmen</a> -
        <span target="_blank" href="/api/public/publisher/pupilvoicereport">Pupil Voice Report</span> -
        -->
    </div>
</main>

<style>
    @font-face {
        font-family: 'Lato';
        src: url(/assets/Lato.woff2);
    }

    @font-face {
        font-family: 'Lato';
        src: url(/assets/Lato-black.woff2);
        font-weight: bold;
    }

    html {
        font-family: 'Lato', sans-serif;
    }

    body {
        margin: 0;
        background-color: white;
        border-width: 1px;
        border-color: #ccc;
        border-style: solid;
        overflow: hidden;
    }

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .header h3 {
        padding: 0.625rem 1rem;
        font-size: 1.125rem;
        line-height: 1.14rem;
        font-weight: 600;
        color: #FFF;
    }

    .header {
        background-color: #d64385;
        font-size: 1.125rem;
        font-weight: 600;
        color: #444;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #ccc;
        margin-bottom: 0.5rem;
    }

    .article {
        display: block;
        text-align: left;
        padding-inline: 1rem;
        height: 5.5rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        color: rgb(68, 68, 68);
    }

    .article p {
        padding: 0;
    }

    .article .breadcrumb {
        font-size: 0.6rem;
        color: #888;
        overflow: hidden;
    }

    .article .publisher {
        font-size: 0.6rem;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .article .title {
        display: block;
        font-size: 1.125rem;
        margin-top: 0.2rem;
        margin-bottom: 0;
        color: rgb(0, 90, 164);
        text-decoration: none;
    }

    .article .title:hover {
        text-decoration: underline;
    }

    .article .description {
        margin-top: 0.2rem;
        font-size: 0.8rem;
        height: 2.8rem;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;
    }

    .footer {
        border-top: solid 1px #ccc;
        background-color: #e6e6e6;
        font-size: 0.8rem;
        margin: auto;
        margin-top: -0.5rem;
        padding: 0.4rem 1rem;
        color: #888;
        line-height: 1.2rem;
    }

    .footer a {
        text-decoration: none;
        white-space: nowrap;
        color: #444;
    }

    .footer a:hover {
        text-decoration: underline;
    }
</style>